html{
  box-sizing: border-box;
}

*, *::before, *::after{
  box-sizing: inherit;
}

body{
  padding: 0;
  margin: 0;
  background-color: lightgrey;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

main{
  height: fit-content;
  max-height: 70vh;
  width: 40%;
  margin: 0 auto;
  background-color: rgb(243, 243, 243);
  box-shadow: 0px 0px 5px #888888;
}

.list__title{
  font-size: 1rem;
  font-weight: normal;
  margin: 0;
  padding: 10px 20px;
  border: 0.5px solid lightgray;
}

.list{
  list-style: none;
  padding: 0;
  margin: 0;
}

.list__item{
  padding: 10px 10px;
  border: 0.2px solid lightgray;
  display: flex;
  gap: 10px;
}

.list__task{
  background-color: inherit;
  border: none;
  font-style: italic;
  padding: 5px;
}

.list__text{
  background-color: inherit;
  border: none;
}

.list__button{
  background-color: rgb(218, 218, 218);
  border: none;
  width: 100%;
  padding: 15px;
}



